<div class="card">
  <div class="card-header"><h1 style="text-align: center;"><b>User Update</b></h1></div>
  <div class="card-body">
  	<form [formGroup]="form" (ngSubmit)="onSubmit()">
  		<div>
  			<div class="form-row">
		    	<div class="form-group col-md-6">
		      	<label for="name">User Name:</label>
		      	<input 
		      	id="name" 
		      	type="text" 
		      	formControlName="username" 
		      	class="form-control" 
		      	[(ngModel)]="userObj.userName" 
		      	name="username"
		      	autocomplete="off" 
		      	placeholder="Enter Your Name" 
		      	maxlength="20"
		      	onkeypress="return (event.charCode > 64 && event.charCode < 91) || (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)"
		      	/>
		    	</div>
		  	</div>
		    	<div>
		    		<span style="color: red;" *ngIf="username && username.invalid && (username.dirty || username.touched)"><small>User Name must be 3-20 letters only required</small></span>
		    	</div>
		  	<div class="form-row">
		    	<div class="form-group col-md-3">
			      <label>User Age:</label>
			      <input 
			      type="text"
			      id="age" 
			      formControlName="userage" 
			      class="form-control"
			      [(ngModel)]="userObj.userAge" 
			      name="userage" 
			      autocomplete="off" 
			      placeholder="Enter User Age" 
			      maxlength="25"
			      maxlength="3"
			      onkeypress="return /[0-9]/i.test(event.key)"
			      />
			    </div>
		    </div>
			    <div>
		    		<span style="color: red;" *ngIf="userage && userage.invalid && (userage.dirty || userage.touched)"><small>UserAge must be 2-3 numbers required!</small></span>
		    	</div>
		    <div class="form-group col-md-3">
		    	<label>User Gender:</label><br>
		    	<div>
		    		<input 
		    		id="male" 
		    		type="radio" 
		    		[value]="true" 
		    		name="Male" 
		    		formControlName="usergender" 
		    		[(ngModel)]="userObj.usergender" 
		    		/>
		    		<label class="lb" for="male">Male</label>
		    	</div>
		    	<div>
		    		<input 
		    		id="female" 
		    		type="radio" 
		    		[value]="false" 
		    		name="Female" 
		    		formControlName="usergender" 
		    		[(ngModel)]="userObj.usergender" />
		    		<label class="lb" for="female">Female</label>
		    	</div>
		    </div>
		    <div>
		    		<span style="color: red;" *ngIf="userage && userage.valid && username && username.valid && usergender && usergender.invalid"><small>Gender must be select one Radio button</small></span>
		    	</div>
		   	<br>
				<div>
	  			<button [disabled]="form.invalid" type="buton" (click)="updateUser()" class="btn btn-primary">Update User</button>
	  			<button type="button" (click)="onReset()" class="btn btn-warning" > Reset </button>
				</div>
			</div>
		</form>
  </div>
</div>