input[type="text"],input[type="number"] {
  border-radius: 12px;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}


#root {
  padding: 30px;
}

.register-form {
  max-width: 350px;
  margin: auto;
}
button[type="button"] {
    margin-right: 20px;
    margin-left: 20px;
}
.lb{
    padding-left: 10px;
    margin-left: 0px;
    padding-top: 6px;

}
input[type="radio"] {
  width: 20px;
  height: 18px;
  margin-top: 10px;
  border-radius: 25px;
}
.clr {
  color: red;
}
.card{
  margin-top: 30px;
  border : 2px solid black;
  border-radius: 15px;
}
.card-header{
  background-color: burlywood;
  border : 1px solid black;
  border-radius: 10px;
  padding-top: 30px;
}
.card-body{
border : 1px solid black;
border-radius: 10px;
}
label {
  font-size: 20px;
}
span {
  font-size: 20px;
}