<div class="adden">
  <div class="card bg-primary">
    <div class="card-header"><h1><b>Male User List</b></h1></div>
    <div class="card-body">
    	<table class="table table-bordered table-sm table-hover table-striped table-dark">
        <thead>
          <tr>
            <th class="text-center"><h3>Sr No</h3></th>
            <th class="text-center"><h3>Name</h3></th>
            <th class="text-center"><h3>Age</h3></th>
            <th class="text-center"><h3>Date</h3></th>
            <th class="text-center"><h3>Action</h3></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of userList; let i = index">
            <td class="text-center">{{i+1}}</td>
            <td class="text-center">{{user.userName}}</td>
            <td class="text-center">{{user.userAge}}</td>
            <td class="text-center">{{Today|date}}</td>
            <td class="text-center">
            	<button id ="action4" class="btn btn-sm btn-success" [routerLink]="['/updateUser', user.userId]">Edit</button>
            	<button id ="action3" class="btn btn-sm btn-danger" (click)="delete(user.userId)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button id ="action2" class="btn btn-sm btn-success float-right" routerLink="/addUser">AddUserList</button>
      <button id="action1" class="btn btn-sm btn-warning float-right" data-toggle="modal" data-target="#exampleModal">
        RemoveMaleTable
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Male UserList!</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Are you sure to remove Male User List.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" routerLink="/addUser" data-dismiss="modal" (click)="reMltb()">Remove</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div><app-usern-list></app-usern-list></div>