/* AppComponent's private CSS styles */
h1 {
  margin-bottom: 0;
  color: red;
  font-weight: bold;
  font-size: 30px;
}
h2{
  color: blue;
  font-size: 20px;
}
p{
  color: brown;
  font-family: 'Licida Sans', 'Lucida Sans Regular', 'Lucida Granda', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: green;
  color: black!important;
  border-radius: 50px;
  margin : 5px;
  border: 1px solid white;
}
.nav-link {
  color: black;
  font-weight: bold;
}

nav a:hover {
  background-color: yellow;
  color: white;
  font-size: 18px;
  border: 2px solid black;
}
nav a.active {
  background-color: red;
  color: black;
  border: 2px solid black;
}

a.nav-link {
    margin-right: 0px;
    padding-right: 55px;
    padding-left: 45px;
    margin-left: 0px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.navbar-expand-lg{

    right: 0px;
    height: 88px;
    width: 1282px;
    padding-top: 7px;
    margin-top: 2px;
    margin-bottom: 2px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    padding-left: 24px;
    margin-left: 5px;
    border-right-width: 5px;
    margin-right: 6px;
    background-color: burlywood!important;
    border-radius: 10px;

}
.navbar-light {
  background-color: #554ce9;
  border-radius: 25px;
  border: 1px solid black;
  border-width: 2px;
}