<h1 style="text-align: center;">{{title}}</h1>
<nav class="navbar navbar-light" style="background-color: #554ce9;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
  	<ul class="navbar-nav">
  		<li class="nav-item">
  			<a class="nav-link" [routerLink]="['userList']" [routerLinkActive]="'active'">User List</a>
  		</li>
  		<li class="nav-item">
  			<a class="nav-link" routerLink="/addUser" [routerLinkActive]="'active'">Add User</a>
  		</li>
  		<li class="nav-item">
  			<a class="nav-link" routerLink="/updateUser" [routerLinkActive]="'active'">User update</a>
  		</li>
  	</ul>
  </div>
</nav>
</nav>

<div class="container-fluid">
	<!---
	
<app-user-list></app-user-list>
<app-user-register></app-user-register>
-->
<router-outlet></router-outlet>
</div>