#action1,#action2{
	margin-left: 15px;
    margin-right: 15px;
    border-left-width: 5px;
    border-right-width: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
}
#action3,#action4 {
	margin-right: 7px;
    margin-left: 8px;
    padding-left: 11px;
    padding-right: 11px;
    padding-bottom: 3px;
    padding-top: 2px;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-left-width: 3px;
    border-right-width: 3px;

}
.card-header {
    background-color: rgb(83 34 233 / 96%);
    color: white;
    text-align: center;
    padding-top: 25px;
}
.card {
    border: 2px solid black;
    border-radius: 15px;
}
.card-body{
    border: 1px solid black;
    border-radius: 10px;
}
.card-header{
    border: 1px solid black;
    border-radius: 10px;
}